{% extends "v2/base.html" %}

{% block title %}계정 활성화 완료{% endblock %}

{% block content %}
<div class="container">
	<div style="text-align: center; margin-top: 100px;">
<h1>계정이 활성화 되었습니다!</h1>
<br/>
<p>ColonH에 가입해주셔서 감사합니다</p>
</div>
</div>
{% endblock %}