{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Registration Base{% endblock %}</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    
    {% block head %}
    {% endblock %}
    {% block style %}
    {% endblock %}
</head>
<body class="background-dark">
    {% block content %}
    {% endblock %}


    {% block bottom_script %}
    {% endblock %}

    {% block after_script %}
    {% endblock %}
</body>
</html>