{% extends "v2/base.html" %}
{% block title %}로그인{% endblock %}

{% block content %}
<div class="container">
	<div style="text-align: center; margin-top: 100px;">
		

		<div class="span6 offset2" style="background-color: ;">
			<h1>ColonH 로그인</h1><br/>

			{% if form.errors %}
			<p class="error">Please correct the errors below:</p>
			{% endif %}
			<form method="post" class="form-horizontal label-left" action="?next={{ next|default:"/" }}">{% csrf_token %}
				<div class="control-group">
					<label for="{{ form.username.id_for_label }}" class="control-label">
						{{ form.username.label }}
					</label>
					<div class="controls controls-row">
						{{ form.username }}
						<span class="help-inline">
							{{ form.username.errors }}
						</span>
						{% if form.username.errors %}
						<span class="error">
							{{ form.username.errors|join:", " }}
						</span>
						{% endif %}
					</div>
				</div>

				<div class="control-group">
					<label for="{{ form.password.id_for_label }}" class="control-label">
						{{ form.password.label }}
					</label>
					<div class="controls controls-row">
						{{ form.password }}
						<span class="help-inline">
							{{ form.password.errors }}
						</span>
						{% if form.password.errors %}
						<span class="error">
							{{ form.password.errors|join:", " }}
						</span>
						{% endif %}
					</div>
				</div>
				<input type="submit" class="btn btn-primary span3" value="로그인" />
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block content-related %}
<p>If you don't have an account, you can <a href="/accounts/register/">sign
	up</a> for one.
	{% endblock %}