{% extends "v2/base.html" %}

{% block title %}로그아웃{% endblock %}

{% block content %}
<div class="container">
	<div style="text-align: center; margin-top: 100px;">
		<h1>로그아웃 되었습니다</h1>
		<br/>
		<p>안전하게 로그아웃 되었습니다.</p><br/>
		 <a href="{% url 'accounts:auth_login' %}">다시 로그인하기</a>
	</div>
</div>
{% endblock %}