{% extends "v2/base.html" %}

{% block title %}계정 등록 완료{% endblock %}

{% block content %}
<div class="container">
	<div style="text-align: center; margin-top: 100px;">
<h1>E-mail을 확인해주세요</h1>
<br/>
<p>가입시 기재하신 이메일로 계정 활성화 코드가 발송되었습니다. 이메일의 링크를 눌러 계정을 활성화시켜주세요</p>
</div>
</div>
{% endblock %}