{% extends 'v2/base.html' %}
{% load staticfiles %}

{% block head %}
<style>
</style>

{% endblock %}

{% block content %}


<div class="content container-fluid">
  <div class="row-fluid">
    <div class="span8 offset2">
      <h2 class="page-title">회원가입 <small>Registration</small></h2>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span8 offset2">
      <section class="widget">
        <header>
          <legend class="section"><i class="icon-file"></i> 이용약관 <small>Terms &amp; conditions of use</small></legend>
        </header>
        <div class="body">
          <form id="validation-form" class="form-horizontal label-left" novalidate="novalidate" method="POST" enctype="multipart/form-data" data-validate="parsley">
            {% csrf_token %}
            <div class="row-fluid">
              <div class="span12" style="padding: 10px;   ">
                제 1 조 (목적)<br/>
                <br/>
                이 약관은 네이버 주식회사 ("회사" 또는 "네이버")가 제공하는 네이버, 미투데이(me2day.net) 및 네이버와 미투데이 관련 제반 서비스의 이용과 관련하여 회사와 회원과의 권리, 의무 및 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.<br/>
                제 2 조 (정의)<br/>
                <br/>
                이 약관에서 사용하는 용어의 정의는 다음과 같습니다.<br/>
                ①"서비스"라 함은 구현되는 단말기(PC, TV, 휴대형단말기 등의 각종 유무선 장치를 포함)와 상관없이 "회원"이 이용할 수 있는 네이버, 미투데이(me2day.net) 및 네이버와 미투데이 관련 제반 서비스를 의미합니다.<br/>
                ②"회원"이라 함은 회사의 "서비스"에 접속하여 이 약관에 따라 "회사"와 이용계약을 체결하고 "회사"가 제공하는 "서비스"를 이용하는 고객을 말합니다.
                ③"아이디(ID)"라 함은 "회원"의 식별과 "서비스" 이용을 위하여 "회원"이 정하고 "회사"가 승인하는 문자와 숫자의 조합을 의미합니다.<br/>
                ④"비밀번호"라 함은 "회원"이 부여 받은 "아이디와 일치되는 "회원"임을 확인하고 비밀보호를 위해 "회원" 자신이 정한 문자 또는 숫자의 조합을 의미합니다.<br/>
                ⑤"유료서비스"라 함은 "회사"가 유료로 제공하는 각종 온라인디지털콘텐츠(각종 정보콘텐츠, VOD, 아이템 기타 유료콘텐츠를 포함) 및 제반 서비스를 의미합니다.
                ⑥"포인트"라 함은 서비스의 효율적 이용을 위해 회사가 임의로 책정 또는 지급, 조정할 수 있는 재산적 가치가 없는 "서비스" 상의 가상 데이터를 의미합니다.<br/>
                ⑦"게시물"이라 함은 "회원"이 "서비스"를 이용함에 있어 "서비스상"에 게시한 부호ㆍ문자ㆍ음성ㆍ음향ㆍ화상ㆍ동영상 등의 정보 형태의 글, 사진, 동영상 및 각종 파일과 링크 등을 의미합니다.<br/>
              </div>
            </div>
            <fieldset>

            </fieldset>
            <fieldset>
              <legend class="section"><i class="icon-circle-blank"></i>    기본 정보</legend>
              <div class="control-group">
                <label for="{{ form.username.id_for_label }}" class="control-label">
                  {{ form.username.label }}
                </label>
                <div class="controls controls-row">
                  {{ form.username }}
                  <span class="help-inline">
                    {{ form.username.errors }}
                  </span>
                </div>
              </div>

              <div class="control-group">
                <label for="{{ form.last_name.id_for_label }}" class="control-label">
                  {{ form.last_name.label }} / {{ form.first_name.label }}
                </label>
                <div class="controls controls-row">
                  {{ form.last_name }}  {{ form.first_name }}
                  <span class="help-inline">
                    {{ form.last_name.errors }} {{ form.first_name.errors }}
                  </span>
                </div>
              </div>

              <div class="control-group">
                <label for="{{ form.password.id_for_label }}" class="control-label">
                  {{ form.password.label }}
                </label>
                <div class="controls controls-row">
                  {{ form.password }}
                  <span class="help-inline">
                    {{ form.password.errors }}
                  </span>
                </div>
              </div>

              <div class="control-group">
                <label for="{{ form.password_confirm.id_for_label }}" class="control-label">
                  {{ form.password_confirm.label }}
                </label>
                <div class="controls controls-row">
                  {{ form.password_confirm }}
                  <span class="help-inline">
                    {{ form.password_confirm.errors }}
                  </span>
                </div>
              </div>

              <div class="control-group">
                <label for="{{ form.email.id_for_label }}" class="control-label">
                  {{ form.email.label }}
                </label>
                <div class="controls controls-row">
                  {{ form.email }}
                  <span class="help-inline">
                    {{ form.email.errors }}
                  </span>
                </div>
              </div>


              <legend class="section"><i class="icon-circle-blank"></i>    신상 정보</legend>
              <div class="control-group">
                <label for="{{ form.age.id_for_label }}" class="control-label">
                  {{ form.age.label }}
                </label>
                <div class="controls controls-row">
                  {{ form.age }}
                  <span class="help-inline">
                    {{ form.age.errors }}
                  </span>
                </div>
              </div>


              <div class="control-group">
                <label class="control-label" for="{{ form.gender.id_for_label}}">
                  {{ form.gender.label }}
                </label>
                <div class="controls">
                  {{ form.gender }}
                  <span class="help-inline">
                    {{ form.gender.errors }}
                  </span>
                </div>
              </div>

              <div class="control-group">
                <label for="{{ form.birthday.id_for_label }}" class="control-label">
                  {{ form.birthday.label }}
                </label>
                <div class="controls controls-row">
                  {{ form.birthday }}
                  <span class="help-inline">
                    ex)1988-03-24  [1988년 3월 24일 생]
                    {{ form.birthday.errors }}
                  </span>
                </div>
              </div>

              <div class="control-group">
                <label for="{{ form.phone_number.id_for_label }}" class="control-label">
                  {{ form.phone_number.label }}
                </label>
                <div class="controls controls-row">
                  {{ form.phone_number }}
                  <span class="help-inline">
                    {{ form.phone_number.errors }}
                  </span>
                </div>
              </div>

              <div class="control-group">
                <label for="{{ form.school.id_for_label }}" class="control-label">
                  {{ form.school.label }}
                </label>
                <div class="controls controls-row">
                  {{ form.school }}
                  <span class="help-inline">
                    {{ form.school.errors }}
                  </span>
                </div>
              </div>

              <div class="control-group">
                <label for="{{ form.twitter.id_for_label }}" class="control-label">
                  {{ form.twitter.label }}
                </label>
                <div class="controls controls-row">
                  {{ form.twitter }}
                  <span class="help-inline">
                    {{ form.twitter.errors }}
                  </span>
                </div>
              </div>

              <div class="control-group">
                <label for="{{ form.facebook.id_for_label }}" class="control-label">
                  {{ form.facebook.label }}
                </label>
                <div class="controls controls-row">
                  {{ form.facebook }}
                  <span class="help-inline">
                    {{ form.facebook.errors }}
                  </span>
                </div>
              </div>

              <div class="control-group">
                <label for="{{ form.introduction.id_for_label }}" class="control-label">
                  {{ form.introduction.label }}
                </label>
                <div class="controls controls-row">
                  {{ form.introduction }}
                  <span class="help-inline">
                    {{ form.introduction.errors }}
                  </span>
                </div>
              </div>

              <div class="control-group">
                <label for="{{ form.field.id_for_label }}" class="control-label">
                  {{ form.field.label }}
                </label>
                <div class="controls controls-row">
                  {{ form.field }}
                  <span class="help-inline">
                    {{ form.field.errors }}
                  </span>
                </div>
              </div>

              
            </fieldset>
            <button type="submit" class="btn btn-primary span6 offset3">가입신청</button>
              
          </form>
        </div>
      </section>
    </div>
  </div>
</div>
</div>
{% endblock %}


{% block bottom_script %}
<!-- jquery plugins -->
<script src="{% static 'lib/jquery-maskedinput/jquery.maskedinput.js' %}"></script>
<script src="{% static 'lib/parsley/parsley.js' %}"> </script>
<script src="{% static 'lib/uniform/js/jquery.uniform.js' %}"></script>
<script src="{% static 'lib/select2.js' %}"></script>
<script src="{% static 'lib/jquery.autogrow-textarea.js' %}"></script>

<!--backbone and friends -->
<script src="{% static 'lib/backbone/underscore-min.js' %}"></script>

<!-- bootstrap default plugins -->
<script src="{% static 'js/bootstrap/bootstrap-transition.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap-collapse.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap-alert.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap-tooltip.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap-popover.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap-button.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap-dropdown.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap-modal.js' %}"></script>

<!-- bootstrap custom plugins -->
<script src="{% static 'lib/bootstrap-select/bootstrap-select.js' %}"></script>
<script src="{% static 'lib/wysihtml5/wysihtml5-0.3.0_rc2.js' %}"></script>
<script src="{% static 'lib/bootstrap-wysihtml5/bootstrap-wysihtml5.js' %}"></script>
<script src="{% static 'lib/bootstrap-switch.js' %}"></script>
<script src="{% static 'lib/bootstrap-colorpicker.js' %}"></script>

<!-- basic application js-->
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>

<!-- page specific -->
<script src="{% static 'js/forms-elemets.js' %}"></script>
<script src="{% static 'js/forms.js' %}"></script>

<script src="{% static 'js/jquery.validate.js' %}"></script>
{% endblock %}

{% block after_script %}
{% endblock %}