@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


#login{
    margin-top:5px; margin-right:20px; margin-bottom:0px; color: #666666; text-align:right; height: 20px
}
.right-menu{
    width: 270px;
    background-color: ;
    position: fixed;
    top: 105px;
    right: -270px;
    padding-left: 50px;
    color: #333333;
    opacity: 1.0;
}
.right-arrow-zone{
    float : left;
    background-color: black;
    width: 40px;
    height: 95px;
    margin-left: -40px;
    padding-left: 0px;
    color: white;
}
.right-issue-menu{
    background-color: black;
    height: 85px;
    padding-left: 30px;
    padding-top: 10px;
    color: white;
    font-size: 10pt;
    
}
.right-issue-dropdown{
    width:100%;
    height: 30px;
    line-height: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    margin-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

    text-align: center;
    font-size: 14px;
}
.right-issue-dropdown-content{
    width: 200px;
    height: 30px;
    line-height: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-top-width: 0px;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 00px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    font-size: 14px;
    color: gray;
    background-color: black;

    z-index: 1;
    position: relative;
}
.right-issue-drowndown-button{
    float: left;
    padding-right: 10px;
}
#right-issue-dropdown-toggle{
    position: relative; width:35px; margin-top: -35px; margin-left: 205px;
}
.right-issue-dropdown-content a{
    text-decoration: none;
    color: gray;
}
.right-issue-dropdown-content a:hover{
    color: white;
}
.right-sub-menu{
    margin-top: 0px;
    margin-left: 0px;
    width: 270px;
    background-color: white;
    text-align: left;
}
.right-sub-menu-row1{
    width:270px;
    height: 38px;
    padding-left: 30px;
    margin-left: 0px;
    font-weight: bold;
    line-height: 38px;
    color: black;
    font-size: 10pt;

    border-style: solid;
    border-width: 1px;
    border-color: #dedede;
    border-top-width: 0px;
}
.right-sub-menu-row1 a{
    text-decoration: none;
    color: #333333;
}
.right-sub-menu-row2{
    width:270px;
    height: 38px;
    padding-left: 50px;
    margin-left: 0px;
    line-height: 38px;
    color: gray;
    font-size: 10pt;
    border-style: solid;
    border-width: 1px;
    border-color: #dedede;
    border-top-width: 0px;
}
.right-sub-menu-row2 a{
    text-decoration: none;
    color: #333333;
}
.right-sub-menu > .active{
    background-color: red;
}
.right-sub-menu > .right-sub-menu-row2{
    background-color: white;
    -webkit-transition: 
    background-color 300ms ease;
    -moz-transition:
    background-color 300ms ease;
    -o-transition:
    background-color 300ms linear;
    -ms-transition:
    background-color 300ms linear;
    transition:
    background-color 300ms linear;
}
.right-sub-menu > .right-sub-menu-row2:hover{
    background-color: #999999;
    -webkit-transition: 
    background-color 300ms ease;
    -moz-transition:
    background-color 300ms ease;
    -o-transition:
    background-color 300ms linear;
    -ms-transition:
    background-color 300ms linear;
    transition:
    background-color 300ms linear;
}
.right-sub-menu a {
    display:block;
    width:100%;
    height:100%;
}
.dropdown-header{
    font-weight: bold;
    margin-right: 25px;
    margin-left: 15px;
    text-align: left;
    color: #0067b0;
    font-size: 9pt;
}

.issue_cover_bottombar {
    font-size: 11pt; color: white; line-height:40px; background-color: black;
}
.issue_cover_bottombar > .left {
    float:left; background-color: ; text-align:left;
}
.issue_cover_bottombar > .right {
    float:right; background-color: ; text-align:right;
}
html {
    /*font-family: 'Nanum Gothic Coding', serif;*/
    font-family: 'Nanum Gothic', serif;
}

body {
    /*font-family: 'Nanum Gothic Coding', serif;   */
    font-family: 'Nanum Gothic', serif;
}