<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script type="text/javascript" src="http://kkoksara.com/colonh/sources/jquery.js"></script>
	
	<script type="text/javascript">
	var isOpen = false;
	$(document).ready(function(){
		$("#volum").click(function(){
			$("#sub").slideUp();
		});
		$("#open").click(function(){
			$("#hello").show();
		});
		
		// 내용쪽으로 이동시 메뉴 사라짐
		$("#menu_all").hover(
		function(e){
		}, function(e){
			$("#submenu_background").fadeOut(500);
			$(".submenu").fadeOut(500);
		});
		
		// Main Menu
		$("#submenu_information").hide();
		$("#submenu_volume").hide();
		$("#menu_information").hover(
		function(e){
			$(".submenu").hide();
			$(".submenu_item2").hide();
			$("#submenu_background").fadeIn(200);
			$("#submenu_information").fadeIn(500);
		}, function(e){
		//
		});
		$("#menu_volume").hover(
		function(e){
			$(".submenu").hide();
			$(".submenu_item2").hide();
			$("#submenu_background").fadeIn(200);
			$("#submenu_volume").fadeIn(500);
		}, function(e){
		//
		});
		
		// Volume Menu
		{% for number in numbers %}
		$("#volume{{ number.number }}_sub").hide();
		
		$("#volume{{ number.number }}").hover(
		function(e){
			$(".submenu_item2").slideUp();
			$("#volume{{ number.number }}_sub").slideDown();
		}, function(e){
/* 			$("#volume{{ number.number }}_sub").slideUp(); */
		});
		{% endfor %}
	});
	</script>

	<style type="text/css">
	a:link {text-decoration: none; color: #bbbbbb;}
	a:visited {text-decoration: none; color: #bbbbbb;}
	a:active {text-decoration: none; color: #ffffff;}
	a:hover {text-decoration: none; color: #ffffff;}
	#all{
/* 		margin:0 auto; */
		background: #cccccc;

	}
	#menu_background{
		width:100%;
		background: -webkit-linear-gradient(#151515 0%, #333333 100%);
		height: 40px;
/* 		background: #aaaaaa; */
	}
	#menu{
/* 		display: table; */
		margin:0 auto;
		width: 1200px;;
		background: -webkit-linear-gradient(#151515 0%, #333333 100%);
		height: 40px;
	}
	.menu_item {
		margin-top: 10px;
		text-align: center;
		width:70px;
		height:30px;
		float:left;
/* 		background: #ff0000; */
		color: #cccccc;
		font-size: 9pt;
/* 		font-weight: bold; */
	}
	.menu_item_right {
/* 		background: #ff0000; */
		float: right;
		margin-top: 0px;
		padding-top: 10px;
		text-align: right;
		color: #aaaaaa;
		font-size: 11pt;
	}
/*
	.menu_item li:hover{
		color: #ffffff;
	}
*/
	#submenu_background {
		width: 100%;
/* 		height: 300px; */
		background: rgba(70,64,64,0.9);
/* 		visibility: hidden; */
		position: absolute;
		top: 40px;
		
	}
	.submenu {
		top: 0px;
		clear:both;
/* 		position: absolute; */
		margin:0 auto;
		margin-top: 0px;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 1200px;
/* 		position: relative; */
/* 		height: 290px; */
/* 		background: rgba(70,64,64,0.8); */
/* 		visibility: hidden; */
	}
	.submenu_item {
		margin-left: 100px;
		font-size: 12pt;
		line-height: 200%;
		text-align: left;
/* 		background: #ff0000;	 */
	}
	.submenu_item2 {
		clear: both;
		margin-left: 20px;
		color: #dddddd;
		font-size: 11pt;
/* 		background: #00ff00; */
/* 		float: left; */
	}
	#submenu+content {
/* 		position: relative; */
	}

	#content {
		margin:0 auto;
		top: 0px;
		
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-bottom: 20px;
		width: 1000px;
		
		background: #eeeeee;
		border-left: 1px solid #aaaaaa;
		border-right: 1px solid #aaaaaa;
		border-bottom: 1px solid #aaaaaa;
		box-shadow: 1px 5px 5px rgba(130,124,124,0.8);
	}		
	
	#bottom_background{
		width: 100%;
		height: 100px;
		background: #dddddd;
		border-top: 1px solid #aaaaaa;
		border-bottom: 1px solid #aaaaaa;
	}
	#bottom {
		margin: 0 auto;
		width: 1200px;
		height: 80px;
		background: #dddddd;
		
		margin-top: 20px;
		color: #666666;
		font-size: 8pt;
		text-align: center;
	}
	
	</style>
	{% block head %}{% endblock %}
</head>
<body style="margin:0px;">

<div id="all">
	<div id="menu_all">
	<div id="menu_background">
	<div id="menu">
		<div style="float:left; margin-top:2px; margin-left:30px;">
			<img src="http://kkoksara.com/colonh/images/menu_icon.png" width=35px/>
		</div>
		<div id="menu_information" class="menu_item">Colon Hj</div>
		<div id="menu_volume" class="menu_item"><a href="/colonh/volume">Volume</a></div>
		<div id="menu_event" class="menu_item">Event</div>
		<div id="menu_urvoice" class="menu_item">UrVoice</div>
		
		<div id="account" class="menu_item_right">
			{% if not user.is_authenticated %}<a href="/colonh/accounts/login/">login</a> | <a
    href="/colonh/accounts/register/">register</a>{% endif %}

{% if user.is_authenticated %}<a href="/colonh/accounts/logout/?next=/forum/">logout</a>
    {% endif %}
		</div>
	</div>
	</div>
	

	<div id="submenu_background">
	<div id="submenu_information" class="submenu">
		<div class="submenu_item">
			<a href="/colonh/about">Colon_H란?</a>
		</div>
		<div class="submenu_item">
			<a href="/colonh/editors">Editors</a>
		</div>
		<div class="submenu_item">
			<a href="/colonh/recruit">Recruiting</a>
		</div>
		<div class="submenu_item">
			<a href="/colonh/contact">Contact us</a>
		</div>
	</div>
	<div id="submenu_volume" class="submenu">
		{% for number in numbers %}
		<div id="volume{{ number.number }}" class="submenu_item">
			<a href="/colonh/volume/{{ number.number }}">{{ number.title }}</a>
			<div id="volume{{ number.number}}_sub" class="submenu_item2">
			{% for item in itemlist %}
				{% for it in item %}
					{% if it.number.number == number.number %}
						<a href="/colonh/volume/{{ number.number }}/{{ it.shortTitle}}">{{ it.shortTitle }} </a><br>
					{% endif %}
				{% endfor %}
			{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>

	</div>
	</div>
	
	<div id="content">
		{% block content %}{% endblock %}
	</div>
	<div id="bottom_background">
	<div id="bottom">
		{% block bottom %}{% endblock %}
		Colon_H
	</div>
	</div>
</div>

</body>
</html>