<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Colon H</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="http://kkoksara.com/colonh/media/css/bootstrap.css" rel="stylesheet">

        <style>
        .abcd{
            color: red;
        }
        body{
            padding-top: 0px;
        }      
        </style> 
        <link href="http://kkoksara.com/colonh/media/css/bootstrap-responsive.css" rel="stylesheet">

    </head>

    <body>
        <!-- 우측 메뉴 -->
        <div style="position:fixed; top:100px; right:10px">
            메뉴공간
        </div>

        <div style="height: 20px; float:top">
            <div style="margin-top:10px; margin-right:10px; color: #999999; text-align:right">
                Login | Register
            </div>
        </div>

        <div class="navbar" >
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <!-- 줄임메뉴 아이콘 줄 수 -->
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>
                    <a class="brand" href="#" style="margin-left:0px">Colon H</a>

                    <!-- 네비게이션 바의 메뉴. 자동으로 메뉴화된다 -->
                    <div class="nav-collapse collapse" style="float: right">
                        <ul class="nav">
                            <li><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
        </div>

        <div class="container">
            {% block content %}
            {% endblock %}
            <!-- <h1>Colon H Test Page!</h1>
            <p> Use this document as a way to quick start any new project.<br>
                All you get is this message and a barbones HTML documents</p> -->
        </div>






        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="http://kkoksara.com/colonh/media/js/bootstrap.min.js"></script>
    </body>

</html>