{% extends "base.html" %}


{% block head %}
<style type="text/css">
	#item_title{
		font-size: 30px;
		font-weight: bold;
	}

    #item_content > p > img {
        width: 100%;
    }

</style>
{% endblock %}

{% block content %}
<div id="item_title">{{ item.title }}</div>
<div id="item_content">
{{ item.content|safe }}
</div>
<!-- {% for image in images %}
<img src="{{ media_url }}{{ image.image.name }}" width=100%/><br>
{% endfor %} -->

{% endblock %}
