{% extends "base.html" %}



{% block content %}
Main!<br>
Recent Number : {{ curNumber.title }}<br>
Recent Number pk : {{ curNumber.pk }}<br>
Recent Number id : {{ curNumber.id }}<br>
Recent Number description : {{ curNumber.description }}<br>

<br><br><br>
{% for item in curItems %}
{{ item.title }}<br>
<img src="{{ media_url }}{{ item.thumbnail.name }}" width="60%"/>
<br>
{% endfor %}
{% endblock %}