{% extends "base.html" %}


{% block content %}


<img src="{{ media_url }}{{ cur_number.image }}" width="100%"/><br>
{{ abc }}<br>

{% for item in cur_items %}
	Item Title : {{ item.title }}<br>
	Item ShortTitle : {{ item.shortTitle }}<br>
	Item Part : {{ item.part }}<br>
	Item Created : {{ item.created }}<br>
	<br>
{% endfor %}
{% endblock %}