{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<!--<h1 id="site-name">{% trans 'Django administration' %}</h1>-->
<h1 id="site-name">Colon_H 관리 페이지</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
