{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Colon H</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet" />
    {% block head %}
    {% endblock %}

</head>

<body>
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            
            //초기화
            FB.init({
                appId      : '426836870755522', // App ID
                //channelUrl : '//127.0.0.1:8020/rotuebook_html5/WebContent/testCase//FB_channel.html', // Channel File
                status     : true, // check login status
                cookie     : true, // enable cookies to allow the server to access the session
                xfbml      : true  // parse XFBML
            });
            
            //페이지 로드 했을시 호출 
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected') {
                    
                    FB.api('/me', function(user) {
                        if (user) {
                            console.log(user.name);
            
                            var image = document.getElementById('image');
                            image.src = 'http://graph.facebook.com/' + user.id + '/picture';
                            var name = document.getElementById('name');
                            name.innerHTML = user.name
                            var id = document.getElementById('id');
                            id.innerHTML = user.id

                        }
                    }); 
                    var uid = response.authResponse.userID;
                    var accessToken = response.authResponse.accessToken;
                     console.log(accessToken);
                     
                } else if (response.status === 'not_authorized') {
                    // the user is logged in to Facebook, 
                    // but has not authenticated your app
                } else {
                    // the user isn't logged in to Facebook.
                }
            });
            
            //로그인 되는 순간 호출
            FB.Event.subscribe('auth.login', function(response) {
                alert("로그인 되는 순간 호출");
                document.location.reload();
            });
            //로그아웃 되는 순간 호출
            FB.Event.subscribe('auth.logout', function(response) {
                alert("로그아웃 되는 순간 호출");
                document.location.reload();
            });
            
            /*
            FB.login(function(response) {
                if (response.authResponse) {
                    console.log('Welcome!  Fetching your information.... ');
                    FB.api('/me', function(response) {
                        console.log('Good to see you, ' + response.name + '.');
                    });
                } else {
                    console.log('User cancelled login or did not fully authorize.');
                }
            });
            */    
        };
        
        //Feed백에 글남기는 method
        function postToFeed (){
            // calling the API ...
            var obj = {
                method: 'feed',
                link: 'http://hijigoo.cafe24.com/BLOG/FB_finish.html',
                picture: 'http://fbrell.com/f8.jpg',
                name: 'name',
                caption: 'caption',
                description: 'description'
            };
            
            function callback(response) {
                alert("callback Fn");;
            }
            
            FB.ui(obj, callback);
        };
        
        // Load the SDK Asynchronously
        (function(d){
           var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/ko_KR/all.js";
           ref.parentNode.insertBefore(js, ref);
         }(document));
         //end Load the SDK Asynchronously
         
    </script>
    
    {% if show_menu %}
    <div id="right-menu" class="right-menu">
        <div id="right-menu-toggle" class="right-arrow-zone" style="z-index: 1;">
            <img src="{% static 'img/base/right_menu_open.png' %}" style="width:39px;"/>
        </div>
        <div class="right-issue-menu">
            <div style="font-weight: 900;">ISSUES</div>
            <div class="right-issue-dropdown" style="width:200px;">
                {{ cur_number.title }}
            </div>
            <div id="right-issue-dropdown-toggle">
                <img src="{% static 'img/base/dropdown-close-white.png' %}" style="width:40px;"/>    
            </div>
            
            <div id="right-issue-dropdown-box">
                {% for number in numbers %}
                <div class="right-issue-dropdown-content">
                    {% if number.id == cur_number.id %}
                    <!-- <div style="width: 100%; position: absolute; text-align: left;">
                        <img src="{% static 'img/part/dropdown-open-white.png' %}" style="width:40px; padding-right: 150px; margin-bottom: -20px; margin-top: -20px;"/>
                    </div> -->
                    {% endif %}
                    <a href="{% url 'issue' number.number %}" {% if number.id == cur_number.id %}style=""{% endif %}>
                        {{ number.title }}
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="right-sub-menu"  style="overflow-Y:auto; overflow-X:hidden; height:250px;">
            <div class="right-sub-menu-row1" id="category_title">
                <span style="font-weight: 900; display:inline-block; width: 198px;">CATEGORIES</span>
                <span id="right-sub-menu-dropdown-toggle" style="display:inline-block; width: 40px;">
                    <img src="{% static 'img/base/dropdown-open-black.png' %}" style="width:40px;"/>
                </span>
            </div>
            {% for part in parts %}
            <div class="right-sub-menu-row1">
                <img src="{{ media_url }}{{ part.black_text_image }}"/>
            </div>
            {% for item in cur_items %}
            {% if item.part == part %}
            <div class="right-sub-menu-row2">
                <a href="{% url 'issue_item' item.number.number item.shortTitle %}/">{{ item.title }}</a>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    

    <div id="login">
<!--
        {% if user.is_authenticated %}
            {{ user.last_name }}{{ user.first_name }} 님, 환영합니다 | <a href="{% url 'accounts:auth_logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'accounts:auth_login' %}">Login</a> | <a href="{% url 'accounts:registration_register' %}">Register</a>
        {% endif %}
-->
    </div>

    <div class="container">
        <div class="navbar">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" style="margin-top: 13px">
                    <!-- 줄임메뉴 아이콘 줄 수 -->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="{% url 'main' %}" style="padding-left: 0px; padding-right: 0px; margin-left: 0px"><img src="{% static 'img/base/logo3.png' %}"/></a>

                <!-- 네비게이션 바의 메뉴. 자동으로 메뉴화된다 -->
                <div class="nav-collapse collapse" style="float: right; text-align: right; margin-top:10px;">
                    <ul class="nav">
                        <li class="nav-item {% block about_active %}{% endblock %}"><a href="#">ABOUT</a></li>
                        <li class="nav-item {% block issues_active %}{% endblock %}"><a href="{% url 'issues_monthly' %}">ISSUES</a></li>
                        <li class="nav-item {% block news_active %}{% endblock %}"><a href="{% url 'news_all' %}">NEWS</a></li>
                        <!-- {% url 'news_all' %} -->
                        <li class="nav-item {% block board_active %}{% endblock %}"><a href="{% url 'board_qa' %}">BOARD</a></li>
                        <!-- {% url 'board_qa' %} -->
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="container" style="padding-bottom: 20px">
        {% block content %}
        {% endblock %}
    </div>

    <hr/>
    <div style="word-break: break-all; background-color: ;">
        <div class="container" style="padding-top: 15px; padding-bottom:30px; padding-left:10px; padding-right:10px;">
            
            <div class="row-fluid">
                <div class="span6">
                    <div style="font-weight: bold; font-size: 12pt; padding-bottom: 10px;">
                        Contact Us    
                    </div>
                    <div style="font-size: 11pt; padding-left: 10px; padding-bottom:50px;">
                        <a href="https://www.facebook.com/ColonH" target="_blank">Facebook</a> / 
                        <a href="http://blog.naver.com/colon_h" target="_blank">Blog</a> / 
                        <a href="mailto:colon_h@naver.com">E-mail</a>
                    </div>
                    <div style="font-weight: bold; font-size: 12pt; color: black;">
                        Sponsered By<br><br>
                        <img style="padding-left: 10px;" src="{% static 'img/base/glossybox2.jpg' %}"/>
                    </div>        
                </div>
                <div class="span6">
                    <div style="font-size: 11pt; line-height: 20pt; padding-left: 10px;">
                        <br/>
                        COLON H의 모든 컨텐츠 저작권은 COLON H에 있습니다.<br>
                        사전 승인 없이 무단전재 및 재배포를 금지합니다.<br><br>
                        <font color="gray">
                        All rights reserved.<br>
                        All contents may not be published, rewritten or redistribute.<br><br>
                        @2013 Colon H
                        </font>
                    </div>
                    <div class="row-fluid" style="font-size: 9pt; padding-left: 10px; margin-top:30px; text-align:left;">
                        <font color="gray">
                        Site development by Lee HanYeong<br/>
                        Designed by Jang EunKyeong
                        </font>
                    </div>
                    
                </div>
            </div>
            <!-- <div class="row-fluid" style="font-size: 9pt; margin-top:30px; text-align:left;">
                <font color="gray">
                Site development by Lee HanYeong<br/>
                Designed by Jang EunKyeong
                </font>
            </div> -->
        </div>
    </div>

    <script src="{% static 'lib/jquery/jquery-1.9.0.js' %}"></script>
    <script src="{% static 'js/rightmenu.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block bottom_script %}
    {% endblock %}
    {% block after_script %}
    {% endblock %}

</body>

</html>