{% extends "v2/base.html" %}
{% load staticfiles %}

{% block head %}
<style type="text/css">
#news_notice{
    background-color: white;
    height: 40px;
    line-height: 39px;
    font-size: 10pt;
    text-align: center;
    margin-bottom: 17px;
    color: black;

    border-width: 1px;
    border-style: solid;
    border-color: #acacac;
}
#news_category {
    margin-right: 3px;
}
#news_category > .active {
    background-color: black;
    color: white;
    outline-color: black;
}
.category_item {
    display: inline-block;
    width: 50%;
    height: 40px;

    text-align: center;
    font-size: 12px;
    line-height: 40px;


    outline-width: 1px;
    outline-style: solid;
    outline-color: #acacac;
    margin-right: -3px;
    margin-left: 1px;
}
#item_part{
    background-color: black;
    height: 50px;
    line-height: 45px;
    font-size: 15px;

    padding-left: 25px;
    margin-bottom: 20px;
    color: white;

    font-weight: bold;
}

#item_content > p > img {
    width: 100%;
}
.hr {
    width: 100%;
    height: 1px;
    background-color: #acacac;
}
#board {
    margin-top: 81px;
}
#top > #content {
    height: 40px;   
    line-height: 40px;
}
#top > .hr {
    
}
#top > .row > .item {
    text-align: center;
}
.post > .row > .item {
    text-align: center;   
}
.post > .row > .left {
    text-align: left;
}
.post {
    /*width: 100%;*/
    height: 40px;
    line-height: 40px;
}
.post > .hr {

}
.post > .category {
    width: 10%;
    height: 30px;
    line-height: 30px;
    background-color: black;
    color: white;

    text-align: center;
    font-size: 12px;
    float: left;
}
.post > .title {
    margin-top: 20px;

    font-size: 20px;
    font-weight: bold;
}
.post > .content {
    margin-top: 15px;
}
.post > .other {
    margin-top: 10px;
}
.post > .other > .created {
    font-size: 9px;
    margin-right: -20px;    
}
.post > .other > .part {
    font-size: 9px;

}
#bottom {

}
#bottom > .row > .item {
    
}

#scroll_top {
    background-color: black;
    height: 50px;
    line-height: 45px;
    margin-top: 50px;
}

</style>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}

{% block content %}
<div id="news_notice">독자여러분들이 콜론에이치에 대한 의견, 제안, 질문 등을 직접 올릴 수 있는 게시판입니다.</div>
<div id="news_category">
    <span class="category_item">LISTEN TO THE EDITOR</span>
    <span class="category_item active">Q&A</span>
</div>


<div id="board">
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />

    </form>

</div>




<!-- {% for image in images %}
<img src="{{ media_url }}{{ image.image.name }}" width=100%/><br>
{% endfor %} -->



{% endblock %}


{% block after_script %}
{% endblock %}
