{% extends "v2/base.html" %}
{% load staticfiles %}

{% block head %}
<style type="text/css">
#news_notice{
    background-color: white;
    height: 40px;
    line-height: 39px;
    font-size: 10pt;
    text-align: center;
    margin-bottom: 17px;
    color: black;

    border-width: 1px;
    border-style: solid;
    border-color: #acacac;
}
#news_category {
    margin-right: 3px;
}
#news_category > .active {
    background-color: black;
    color: white;
    outline-color: black;
}
.category_item {
    display: inline-block;
    width: 50%;
    height: 40px;

    text-align: center;
    font-size: 12px;
    line-height: 40px;


    outline-width: 1px;
    outline-style: solid;
    outline-color: #acacac;
    margin-right: -3px;
    margin-left: 1px;
}
#item_part{
    background-color: black;
    height: 50px;
    line-height: 45px;
    font-size: 15px;

    padding-left: 25px;
    margin-bottom: 20px;
    color: white;

    font-weight: bold;
}

#item_content > p > img {
    width: 100%;
}
.hr {
    width: 100%;
    height: 1px;
    background-color: #acacac;
}
#board {
    margin-top: 81px;
}
#top > #content {
    height: 40px;   
    line-height: 40px;
}
#top > .hr {
    
}
#top > .row > .item {
    text-align: center;
}
.post > .row > .item {
    text-align: center;   
}
.post > .row > .left {
    text-align: left;
}
.post {
    /*width: 100%;*/
    height: 40px;
    line-height: 40px;
}
.post > .hr {

}
.post > .category {
    width: 10%;
    height: 30px;
    line-height: 30px;
    background-color: black;
    color: white;

    text-align: center;
    font-size: 12px;
    float: left;
}
.post > .title {
    margin-top: 20px;

    font-size: 20px;
    font-weight: bold;
}
.post > .content {
    margin-top: 15px;
}
.post > .other {
    margin-top: 10px;
}
.post > .other > .created {
    font-size: 9px;
    margin-right: -20px;    
}
.post > .other > .part {
    font-size: 9px;

}
#bottom {

}
#bottom > .row > .item {

}
#comment_input {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    font-weight: bold;
}
#comments {
    margin-left: 10px;
    margin-right: 10px;
}
#comments > .comment {
    margin-top: 10px;
    margin-bottom: 10px;
}
#comments > .comment > .user {
    width: 100%;
    font-size: 10pt;
    margin-bottom: 7px;
    margin-left: 10px;
}
#comments > .comment > .content {
    width: 100%;
    font-size: 8pt;
    margin-left: 10px;
}
#scroll_top {
    background-color: black;
    height: 50px;
    line-height: 45px;
    margin-top: 50px;
}

</style>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}

{% block content %}
<div id="news_notice">독자여러분들이 콜론에이치에 대한 의견, 제안, 질문 등을 직접 올릴 수 있는 게시판입니다.</div>
<div id="news_category">
    <span class="category_item">LISTEN TO THE EDITOR</span>
    <span class="category_item active">Q&A</span>
</div>


<div id="board">
    <div id="top">
        <div class="hr"></div>
        <div id="content" class="row">
            <div class="span1 item">#</div>
            <div class="span5 item">SUBJECT</div>
            <div class="span2 item">NAME</div>
            <div class="span2 item">DATE</div>
            <div class="span2 item">COUNT</div>
        </div>
        <div class="hr"></div>
    </div>
    <div class="post">
        <div id="content" class="row">
            <div class="span1 item">{{ post.id }}</div>
            <a href="{% url 'board_qa_item' post.id %}">
                <div class="span5 item left">{{ post.title }} [{{ post.comments.count }}]</div>
            </a>
            <div class="span2 item">{{ post.user.last_name }}{{ post.user.first_name }}</div>
            <div class="span2 item">{{ post.created|date:"y/m/d, H:m" }}</div>
            <div class="span2 item"></div>
        </div>
    </div>
    <div class="post_content">
        <div class="row">
            <div class="span11 offset1">
                <div style="background-color: #efefef; padding: 20px 20px 20px 20px; margin-bottom: 20px; margin-right:20px;">
                {{ post.content|safe }}
            </div>
            </div>
        </div>
    </div>
    <div id="bottom">
        <div class="hr" style="margin-bottom: 10px;"></div>
        <div class="row">
            <div class="item span1" style="text-align: left;">
                <div style="margin-left:10px;"><a href="{% url 'board_qa' %}">List</a></div>
            </div>
            <div class="item span1 offset10" style="text-align: right;">
                {% if user.is_authenticated %}
                    <a href="{% url 'board_qa_add' %}"><div style="margin-right:10px;">Write >></div></a>
                {% else %}
                    글을 쓰려면 로그인 하셔야 합니다
                {% endif %}
            </div>
        </div>
    </div>
    <div id="comment_input">
        댓글 [{{ comments|length }}]개
        <form method="POST">{% csrf_token %}
            <div>
                {{ comment_form.content }}
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="댓글 작성">
            </div>
        </form>
        
    </div>
    <div class="hr" style="margin-left:10px; margin-right:10px;"></div>
    <div id="comments">
        {% for comment in comments %}
        <div style="margin-top:5px; float:right;">{{ comment.created }}</div>
        <div class="comment">
            <div class="user">{{ comment.user }}</div>
            <div class="content">{{ comment.content }}</div>
        </div>

        {% if forloop.counter0 != comments.count %}
        <div class="hr"></div>
        {% endif %}
        {% endfor %}
    </div>
</div>




<!-- {% for image in images %}
<img src="{{ media_url }}{{ image.image.name }}" width=100%/><br>
{% endfor %} -->



{% endblock %}


{% block after_script %}
{% endblock %}
