{% extends "v2/base.html" %}
{% load staticfiles %}
{% load l10n %}

{% block content %}


{% block style %}
<!-- 테두리 -->
<style>
.img_issue_thumbnail2 {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-style: solid;
    border-width: 1px;
    border-bottom: 0px;
    border-color: #ACACAC;
}
#issue_description > p{
    font-size: 9pt;
}
</style>
{% endblock %}

<div class="span12" style="margin: 0 auto;">
    <div style="text-align: center; ">
    <img src="
    {% if cur_number.image %}{{ media_url }}{{ cur_number.image }}
    {% else %}{% static 'img/prepare.png' %}
    {% endif %}
    " /><br>
    </div>
    <div class="row-fluid">
        <div class="row-fluid" style="font-size: 11pt; color: white; line-height:40px; background-color: black">
            <div style="font-size: 10pt; font-weight: 900; float:left; background-color: ; text-align:left; margin-left: 16px;">ISSUE {{ cur_number.number }}</div>
            <div style="font-size: 10pt; font-weight: 900; float:right; background-color: ; text-align:right; margin-right: 16px;">{{ cur_number.month }} {{ cur_number.date.year }}</div>
        </div>
    </div>
    <div style="padding-bottom: 100px">
        <div id="issue_description" style="padding-left: 16px; padding-top:10px; padding-bottom:10px; padding-right: 16px; font-size: 12px;">
            {{ cur_number.description|linebreaks }}
        </div>
    </div>

    {% for item in cur_items %}
        {% if forloop.counter0|divisibleby:"2" %}
            <div class="row-fluid">    
        {% endif %}
                <div class="span6"  style="padding-bottom: 50px;">
                    <a href="{% url 'issue_item' cur_number.number item.shortTitle %}"><img src="{{ media_url }}{{ item.thumbnail }}" class="img_issue_thumbnail"/></a><br>
                    <div>
                        <div class="row-fluid" style="font-size: 10pt; color: white; line-height:40px; background-color: black">
                            <div style="float:left; background-color: ; text-align:left; margin-left: 16px;">
                                <img src="{{ media_url }}{{ item.part.white_text_image }}"/>
                            </div>
                            <div style="font-size: 10pt; font-weight: 900; float:right; background-color: ; text-align:right; margin-right:16px;">{{ item.number.month }} {{ item.number.date.year }}</div>
                        </div>
                        <div style="padding-left: 16px; padding-top:10px; padding-bottom:10px; padding-right: 16px;  font-size: 12px;">
                            {{ item.description }}
                        </div>
                    </div>
                </div>
        {% if not forloop.counter0|divisibleby:"2" %}
            </div> 
        {% elif forloop.last %}
            </div>
        {% endif %}

    {% endfor %}
    

</div>

{% endblock %}