{% extends "v2/base.html" %}
{% load static %}

{% block head %}
<link href="{% static 'css/issues.css' %}" rel="stylesheet">
<style tyle="text/css">
.issues_parts_selector {
    float: right;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
}
.issues_parts_selector > .item {
    display: inline-block;
    width: 15%;
    text-align: center;
    font-weight: bold;
    margin-right: -5px;
}
.issues_parts_selector > .item a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #999999;
}
.issues_parts_selector > .item a:hover {
    color: black;
}
.issues_parts_selector > .active a {
    color: black;
}

.issues_parts_image {
    z-index: 1; 
    text-align: left; 
    background-color: #999999;
    top: 0px;
    left: 0px;
    position: relative;
}
.issues_parts_description {
    opacity: 0.0;
    -webkit-transition: 
    opacity 700ms ease;
    -moz-transition:
    opacity 700ms ease;
    -o-transition:
    opacity 700ms ease;
    -ms-transition:
    opacity 700ms ease;
    transition:
    opacity 700ms ease;
    position: absolute;
    background-color: black;
    z-index: 2;
    color: white;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin-top: 1px;
    font-size: 13px;
    line-height: 17px;
}
.issues_parts_description:hover {
    opacity: 0.8;
    -webkit-transition: 
    opacity 700ms ease;
    -moz-transition:
    opacity 700ms ease;
    -o-transition:
    opacity 700ms ease;
    -ms-transition:
    opacity 700ms ease;
    transition:
    opacity 700ms ease;
}
.issues_parts_description h1, h2, h3, h4, h5, h6{
    color: white;
}
</style>
{% endblock %}

{% block issues_active %}
active
{% endblock %}

{% block content %}
<div class="issues_topbar">
    <span><a href="{% url 'issues_monthly' %}">BY MONTH</a></span>
    <span class="active">BY PARTS</span>
</div>
<div class="issues_parts_selector">
    {% for part in parts %}
    <span class="item{% if part.url_title == cur_part_url_title %} active{% endif %}"><a href="{% url 'issues_parts' part.url_title %}">{{ part.title }}</a></span>
    {% if forloop.counter < parts|length %}&nbsp;&nbsp;/&nbsp;&nbsp;{% endif %}
    {% endfor %}
</div>
{% for item in cur_items %}
{% if forloop.counter0|divisibleby:"2" %}
<div class="row-fluid">    
    {% endif %}
    <div class="span6"  style="position: relative; padding-bottom: 50px;">
        <div class="issues_parts_image">
            <a href="{% url 'issue_item' item.number.number item.shortTitle %}"><img src="{{ media_url }}{{ item.thumbnail }}"/><br>
                <div class="issues_parts_description">
                    <table style="width: 100%; height: 100%;">
                        <td style="vertical-align:middle; padding:20px; color: white;">
                            <h5>{{ item.title }}</h5>
                            {{ item.sub_title }}
                            <div style="height:1px; margin-top:10px; margin-bottom:10px; background-color: white;"></div>
                            {{ item.description }}
                        </td>
                    </table>
                </div>
            </a>
        </div>
        


        <div>
            <div class="row-fluid" style="font-size: 10pt; color: white; line-height:40px; background-color: black">
                <div style="float:left; background-color: ; text-align:left">&nbsp;&nbsp;&nbsp;{{ item.part }}</div>
                <div style="float:right; background-color: ; text-align:right">{{ forloop.counter }} / {{ item.title }}&nbsp;&nbsp;&nbsp;</div>
            </div>
            <div style="padding: 10px; font-size: 12px;">
                {{ item.description }}
            </div>
        </div>
    </div>
    {% if not forloop.counter0|divisibleby:"2" %}
</div> 
{% elif forloop.last %}
</div>
{% endif %}

{% endfor %}

{% endblock %}