{% extends "v2/base.html" %}
{% load static %}

{% block head %}
<link href="{% static 'css/issues.css' %}" rel="stylesheet">
{% endblock %}

{% block issues_active %}
active
{% endblock %}

{% block content %}
<div class="issues_topbar">
    <span>BY MONTH</span>
    <span class="active"><a href="abc">BY PARTS</a></span>
</div>
{% for number in numbers %}
<div style="">
    <div style="position: relative;">
        <div class="issues_monthly_image">
            <img src="{{ media_url }}{{ number.image }}"/><br>
        </div>
        <div class="issues_monthly_description">
            <a href="{% url 'issue' number.number %}">
                <table style="width:100%; height: 100%;">
                    <td style="vertical-align:middle; padding:20px; color: white;">
                        <h4>{{ number.title }}</h4>
                        <h6>{{ number.sub_title }}</h6>
                        <div style="height:1px; margin-top:10px; margin-bottom:10px; background-color: white;"></div>
                        {{ number.description }}
                    </td>
                </table>
            </a>
        </div>
    </div>
</div>
<div class="row-fluid"  style="margin-bottom: 100px;">
    <div class="row-fluid issue_cover_bottombar">
        <div class="left">&nbsp;&nbsp;&nbsp;{{ number.title }}</div>
        <div class="right">{{ number.created }}&nbsp;&nbsp;&nbsp;</div>
    </div>
</div>

{% endfor %}
{% endblock %}