{% extends "v2/base.html" %}
{% load static %}

{% block head %}
<link href="{% static 'css/issues.css' %}" rel="stylesheet">
{% endblock %}

{% block issues_active %}
active
{% endblock %}

{% block content %}
<div class="issues_topbar" style="margin-bottom: 50px;">
    <span class="active">BY MONTH</span>
    <span><a href="{% url 'issues_parts' %}">BY PARTS</a></span>
</div>
{% for number in numbers %}
<div style="">
    <div style="position: relative;">
        <a href="{% url 'issue' number.number %}">
            <div class="issues_monthly_image">
                <img src="
                {% if number.image %}{{ media_url }}{{ number.image }}
                {% else %}{% static 'img/prepare.png' %}
                {% endif %}
                "/><br>
            </div>  

            <div class="issues_monthly_description">
                <table style="width:100%; height: 100%;">
                    <td style="vertical-align:middle; padding:20px; color: white;">
                        <h4>{{ number.title }}</h4>
                        <h6>{{ number.sub_title }}</h6>
                        <div style="height:1px; margin-top:10px; margin-bottom:10px; background-color: white;"></div>
                        {{ number.description }}
                    </td>
                </table>
            </div>
        </a>
    </div>
</div>
<div class="row-fluid"  style="margin-bottom: 100px;">
    <div class="row-fluid issue_cover_bottombar">
        <div class="left" style="margin-left: 16px;">ISSUE {{ number.number }}</div>
        <div class="right" style="margin-right:16px;">{{ number.month }} {{ number.date.year }}</div>
    </div>
</div>

{% endfor %}
{% endblock %}