{% extends "v2/base.html" %}
{% load static %}

{% block head %}

<style type="text/css">
    #item_part{
        background-color: #acacac;
        height: 50px;
        line-height: 50px;
        font-size: 15px;

        padding-left: 25px;
        margin-bottom: 0px;
        color: white;

        font-weight: bold;
    }
    #item_content {
        text-align: center;
    }
    #item_content > p > img {
        width: 100%;
    }

    #scroll_top {
        background-color: black;
        height: 50px;
        line-height: 45px;
        margin-top: 50px;
    }

</style>

<meta property="fb:app_id" content="426836870755522" />
<meta property="og:image" content="http://www.colonh.co.kr{% static 'img/base/logo3.png' %}" />
<meta property="og:title" content="{{ item.title }}" />
<meta property="og:description" content="{{ item.sub_title }}"/>
<meta property="og:type" content="website" />

{% endblock %}

{% block content %}


<div id="item_part"><img src="{{ media_url }}{{ item.part.white_text_image }}"/></div>
<div id="item_content">

{{ item.content|safe }}
</div>
<a href="javascript:void(0)" class="backtotop">
    <div id="scroll_top" style="text-align: center; color: white;">
        <img src="{% static 'img/base/open.png' %}"/> Scroll to Top
    </div>
</a>

<hr>
<fb:like send="true" width="450" show_faces="true" font="verdana"></fb:like>
<div style="text-align: ;">
<fb:comments href="http://www.colonh.co.kr{% url 'issue_item' number short_title %}" num_posts="4" width="600"></fb:comments>
</div>



<!-- {% for image in images %}
<img src="{{ media_url }}{{ image.image.name }}" width=100%/><br>
{% endfor %} -->

{% endblock %}


{% block after_script %}
<!-- $('#up').click(function($e){
        $('html, body').animate( {scrollTop:0} );
}); -->
<script type='text/javascript'>
jQuery('.backtotop').click(function(){
    jQuery('html, body').animate({scrollTop:0}, 'medium');
});
</script>
{% endblock %}
