{% extends "v2/base.html" %}


{% block head %}
<style type="text/css">
#news_notice{
    background-color: white;
    height: 40px;
    line-height: 39px;
    font-size: 10pt;
    text-align: center;
    margin-bottom: 17px;
    color: black;

    border-width: 1px;
    border-style: solid;
    border-color: #acacac;
}
#news_category {
    /*font-weight: bolder;*/
    font-weight: 900;
    margin-right: 5px;
    font-size: 10pt;
    margin-bottom: 81px;
}
#news_category > a >.active {
    background-color: black;
    color: white;
    outline-color: black;
}
.category_item {
    display: inline-block;
    width: 25%;
    height: 40px;

    text-align: center;
    font-size: 12px;
    line-height: 40px;

    color: #acacac;
    outline-width: 1px;
    outline-style: solid;
    outline-color: #acacac;
    margin-right: -4px;
    margin-left: 1px;
}
#item_part{
    background-color: black;
    height: 50px;
    line-height: 45px;
    font-size: 15px;

    padding-left: 25px;
    margin-bottom: 20px;
    color: white;

    font-weight: bold;
}

#item_content > p > img {
    width: 100%;
}
.hr {
    width: 100%;
    height: 1px;
    background-color: #acacac;
}
.news {
    width: 100%;
    margin-bottom: 17px;
}
.news > .hr {

}
.news > .category {
    width: 134px;
    height: 30px;
    line-height: 29px;
    background-color: black;
    color: white;

    text-align: center;
    font-size: 12px;
    font-weight: bold;
    float: left;


}
.news > .title {
    margin-top: 20px;

    font-size: 20px;
    font-weight: bold;
}
.news > .content {
    margin-top: 15px;
}
.news > .content > .content2 > .content_text > p {
    font-size: 10pt;
}
.news > .other {
    margin-top: 10px;
    /*margin-left: 10px;*/
}
.news > .other > .created {
    font-size: 8pt;
    margin-right: -20px;
}
.news > .other > .part {
    font-size: 8pt;
}
.news > .other > .attachment{
    font-size: 12pt;
    font-weight: bold;
}

#scroll_top {
    background-color: black;
    height: 50px;
    line-height: 45px;
    margin-top: 50px;
}

</style>

{% endblock %}

{% block content %}
<div id="news_notice">콜론에이치가 독자 여러분께 발빠르게 전해 드리는 소식들 입니다.</div>
<div id="news_category">
    <a href="{% url 'news_all' %}"><span class="category_item {% if active == 'all' %}active{% endif %}">ALL</span></a>
    <a href="{% url 'news' 'event' %}"><span class="category_item {% if active == 'event' %}active{% endif %}">EVENT</span></a>
    <a href="{% url 'news' 'news' %}"><span class="category_item {% if active == 'news' %}active{% endif %}">NEWS</span></a>
    <a href="{% url 'news' 'notice' %}"><span class="category_item {% if active == 'notice' %}active{% endif %}">NOTICE</span></a>
</div>


{% for news in news_list %}
<div class="news">
    <div class="hr"></div>
    <div class="category">{{ news.category }}</div>
    <div class="row title">
        <div class="span9 offset3">{{ news.title }}</div>
    </div>
    <div class="row content">
        <div class="content2 span9 offset3">
            <div class="content_text" style="margin-left: 10px;">{{ news.content|safe }}</div>
        </div>
    </div>
    <div class="row other">
        <div class="span2 offset3 created">
            <div style="margin-left: 10px;">
                {{ news.created }}
            </div>
        </div>
        <div class="span2 part">{{ news.part }}</div>
        <div class="span5 attachment" style="text-align: right;">
        {% if news.attachment %}첨부파일 : <u><a href="{{ media_url }}{{ news.attachment }}">{{ news.attachment|cut:"attachment/" }}</a></u>{% endif %}
        </div>
    </div>
    
    <div class="hr" style="margin-top: 20px;"></div>
</div>
{% endfor %}




<a href="javascript:void(0)" class="backtotop">
    <div id="scroll_top">
    </div>
</a>

<!-- {% for image in images %}
<img src="{{ media_url }}{{ image.image.name }}" width=100%/><br>
{% endfor %} -->



{% endblock %}


{% block after_script %}
<!-- $('#up').click(function($e){
        $('html, body').animate( {scrollTop:0} );
    }); -->
<script type='text/javascript'>
jQuery('.backtotop').click(function(){
    jQuery('html, body').animate({scrollTop:0}, 'medium');
});
</script>
{% endblock %}
