.issues_topbar {
    height: 34px;
    line-height: 34px;
    margin-top: 50px;
    margin-bottom: 15px;
    margin-right: 0px;
    margin-left: 4px;
}
.issues_topbar > span {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-style: solid;
    border-width: 1px;;
    border-color: #ACACAC;
    display: inline-block;
    margin-left: -4px;
    margin-right: -0px;
    width: 50%;
    font-size: 9pt;
    text-align: center;
    color: #ACACAC;
}
.issues_topbar > span.active {
    color: white;
    background-color: black;
    border-color: black;
}
.issues_topbar > span a {
    color: #ACACAC;
    display: block;
    widows: 100%;
    height: 100%;
}
.issues_topbar > span a:hover {
    color: black;
}
.issues_monthly_image {
    z-index: 1; 
    text-align: center; 
    background-color: #999999;
    top: 0px;
    left: 0px;
}
.issues_monthly_description {
    opacity: 0.0;
    -webkit-transition: 
    opacity 700ms ease;
    -moz-transition:
    opacity 700ms ease;
    -o-transition:
    opacity 700ms ease;
    -ms-transition:
    opacity 700ms ease;
    transition:
    opacity 700ms ease;
    position: absolute;
    background-color: black;
    z-index: 2;
    color: white;
    top: 0px;
    left: 0px;
    height: 100%;
    margin-top: 1px;
}
.issues_monthly_description:hover {
    opacity: 0.8;
    -webkit-transition: 
    opacity 700ms ease;
    -moz-transition:
    opacity 700ms ease;
    -o-transition:
    opacity 700ms ease;
    -ms-transition:
    opacity 700ms ease;
    transition:
    opacity 700ms ease;
}
.issues_monthly_description h4, h6{
    color: white;
}